
/* HEADER */



/* NAVBAR */


/* MAIN */





/* PROYECTOS */

/* .imgProyectos {
  overflow: hidden;
}

.imgProyectos img {
  transition: transform 0.3s ease-in-out;
}

.imgProyectos img:hover {
  transform: scale(1.05);
  cursor: pointer;
} */

/* SERVICIOS */

main h6 {
  margin: 70px 0;
}

/* QUIÉNES SOMOS */

/* CONTACTO */



/* FOOTER */


@media (max-width: 992px) {
  .textoProyectos {
    margin-bottom: 40px;
  }

  .imgProyectos img:hover {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .textoProyectos {
    margin-top: -25px;
  }

  .imgProyectos img:hover {
    transform: scale(1);
  }
}

@media (max-width: 800px) {
  .footer__items li {
    padding: 60px 3px;
  }

  .facebookIcon,
  .instagramIcon,
  .phoneIcon,
  .mailIcon,
  .locationIcon {
    border: 1px solid black;
    padding: 5px;
    border-radius: 100px;
  }
}

@media (max-width: 500px) {
  .footer__items li {
    padding: 60px 3px;
  }

  .facebookIcon,
  .instagramIcon,
  .phoneIcon,
  .mailIcon,
  .locationIcon {
    border: 1px solid black;
    padding: 5px;
    border-radius: 100px;
    height: 45px;
  }
}
