.imgProyectos {
    overflow: hidden;

        img {
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
          }
      }
  }  


.buttonProyectos{
  &:hover{
    cursor: default;
  }
  
  &:focus{
      box-shadow: none;
      background-color: #6c757d;
      border-color: #6c757d;
  }

  &:active:focus{
    box-shadow: none;
    background-color: #5C636A;
  }
}

  @media (max-width: $lg) {
    .textoProyectos {
      margin-bottom: 40px;
    }
  
    .imgProyectos img:hover {
      transform: scale(1);
    }
  }

  @media (max-width: $md) {
    .textoProyectos {
      margin-top: -25px;
    }
  
    .imgProyectos img:hover {
      transform: scale(1);
    }
  }